<form>
	Noun:
	<input type="text" ng-model="input.word1" placeholder="ex. dog">
	<br>
	Verb:
	<input type="text" ng-model="input.word2" placeholder="ex. walking">
	<br>
	Adjective:
	<input type="text" ng-model="input.word3" placeholder="ex. fast">
	<br>
	Number:
	<input type="text" ng-model="input.word4" placeholder="ex. one">
	<br>
	Proper Noun:
	<input type="text" ng-model="input.word5" placeholder="ex. Grand Circus">
	<br>
	Noun:
	<input type="text" ng-model="input.word6" placeholder="ex. cat ">
	<br>
	Adverb:
	<input type="text" ng-model="input.word7" placeholder="ex. always ">
	<br>
	<button type="button" ng-click="sendAnswers()">Submit</button>
</form>